In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pandas

# Load csv to postgres db

In [2]:
engine_from_bd = create_engine('postgresql://etl:etl_contest@localhost:54321/checknft')

In [3]:
# collection_df = pd.read_csv('collection.csv')
# event_df = pd.read_csv('event.csv')
# payment_token_df = pd.read_csv('payment_token.csv')
# token_df = pd.read_csv('token.csv')

In [4]:
# collection_df.to_sql('collection', engine_from_bd)
# event_df.to_sql('event', engine_from_bd)
# payment_token_df.to_sql('payment_token', engine_from_bd)
# token_df.to_sql('token', engine_from_bd)

## Check

In [5]:
collection_df = pd.read_sql('select * from collection', engine_from_bd)
collection_df.head()

,index,id,createdAt,updatedAt,name,externalId,description,logo,creatorAccountId,ownerFee,...,thirtyDaySales,thirtyDayAveragePrice,totalVolume,totalSales,numOwners,averagePrice,marketCap,floorPrice,statsUpdatedAt,totalSupplyEdition
0,0,1,2022-01-20 04:56:33.693987+00:00,2022-03-10 19:15:16.040357+00:00,MutantApeYachtClub,capi_v2_0x60e4d786628fea6478f785a6d7e704777c86...,The MUTANT APE YACHT CLUB is a collection of u...,https://lh3.googleusercontent.com/lHexKRMpw-ao...,1,250,...,618,15.43,447085.86,34367,12970,13.01,292410.96,13.50,2022-09-02 10:00:07.110186,19425.0
1,1,504,2022-01-20 12:49:00.443968+00:00,2022-03-10 19:21:56.024295+00:00,BoredApeYachtClub,capi_v2_0xbc4ca0eda7647a8ab7c2061c2e118a18a936...,The Bored Ape Yacht Club is a collection of 10...,https://lh3.googleusercontent.com/Ju9CkWtV-1Ok...,890,250,...,156,93.59,658635.58,27028,6458,24.37,1267208.59,77.77,2022-09-02 10:00:07.078645,10000.0

In [6]:
event_df = pd.read_sql('select * from event', engine_from_bd)
event_df.head()

,index,id,createdAt,updatedAt,externalId,tokenId,eventType,date,dataFeed,auctionType,...,protocolFee,paymentTokenId,paymentTokenUSDPrice,paymentTokenETHPrice,logIndex,countRelated,saleProtocol,batchTokenIndex,saleEventIndex,internalType
0,0,124137722,2022-03-12 00:32:47.344984+01:00,2022-08-09 09:43:46.228293+02:00,None,44675754,transfer,2021-09-04 02:48:23+02:00,blockchain,None,...,NaN,NaN,NaN,NaN,260.0,1,None,0.0,NaN,None
1,1,124154046,2022-03-12 00:34:18.444015+01:00,2022-08-10 09:50:11.383402+02:00,None,44675754,transfer,2021-11-15 00:53:25+01:00,blockchain,None,...,NaN,NaN,NaN,NaN,201.0,1,None,0.0,NaN,None
2,2,9573112,2022-02-12 07:51:30.402980+01:00,2022-08-10 04:23:56.338175+02:00,opensea_1467873718,1611,sale,2021-10-21 06:21:39+02:00,blockchain,None,...,0.0,1.0,4174.586313,1.0,472.0,1,WYVERN,0.0,473.0,None
3,3,124147963,2022-03-12 00:33:52.039177+01:00,2022-08-10 04:22:31.494185+02:00,None,1611,transfer,2021-10-21 04:01:12+02:00,blockchain,None,...,NaN,NaN,NaN,NaN,125.0,1,None,0.0,NaN,minting
4,4,274099640,2022-08-16 23:13:41.094721+02:00,2022-08-16 23:13:41.094721+02:00,None,1611,sale,2022-08-10 02:38:13+02:00,blockchain,None,...,0.0,1.0,1653.551993,1.0,129.0,1,X2Y2,0.0,131.0,None

In [7]:
payment_token_df = pd.read_sql('select * from payment_token', engine_from_bd)
payment_token_df.head()

,index,id,createdAt,updatedAt,symbol,address,imageUrl,name,externalId,decimals
0,0,5436676,2022-02-26 13:30:10.845762+01:00,2022-02-26 13:30:10.845762+01:00,BNT,0x1f573d6fb3f13d689ff844b4ce37794d79a7ff1c,None,Bancor Network Token,NaN,18
1,1,5476340,2022-02-26 14:27:10.103768+01:00,2022-02-26 14:27:10.103768+01:00,WAIFU,0x50d812bd2728e1bd7c7f57d97819e0bdc486d6ff,None,WaifuToken,NaN,18
2,2,5506886,2022-02-26 15:09:35.836668+01:00,2022-02-26 15:09:35.836668+01:00,MKR,0x9f8f72aa9304c8b593d555f12ef6589cc3a579a2,None,MKR,NaN,18
3,3,5506887,2022-02-26 15:14:07.986883+01:00,2022-02-26 15:14:07.986883+01:00,1337,0x35872fea6a4843facbcdbce99e3b69596a3680b8,None,1337,NaN,4
4,4,5506888,2022-02-26 15:14:22.485872+01:00,2022-02-26 15:14:22.485872+01:00,MELON,0x2db07f061f12f1ef51c49b02ad5a3eb71f60b69e,None,Slaughtermelon,NaN,4

In [8]:
token_df = pd.read_sql('select * from token', engine_from_bd)
token_df.head()

,index,id,createdAt,updatedAt,externalId,collectionId,contractAddress,contractId,name,description,...,creatorAccountAddress,creatorAccountName,dailyPriceGrowth,weeklyPriceGrowth,monthlyPriceGrowth,totalPriceGrowth,metadataError,statRarityScore,croppedPreviewURL,previewStatus
0,0,44675754,2022-02-25 02:46:07.706761+01:00,2022-03-30 07:50:45.758166+00:00,28268,1,0x60e4d786628fea6478f785a6d7e704777c86a7c6,1,None,None,...,0x9056d15c49b19df52ffad1e6c11627f035c0c960,MutantApeYachtClub,NaN,NaN,NaN,NaN,False,0.000140,/images/31/38/95/49313895bb29c46a9963b633e952d...,None
1,1,1611,2022-01-20 07:18:46.446000+01:00,2022-04-07 10:00:45.124940+00:00,24264,1,0x60e4d786628fea6478f785a6d7e704777c86a7c6,1,None,None,...,0x9056d15c49b19df52ffad1e6c11627f035c0c960,MutantApeYachtClub,NaN,NaN,NaN,37.395023,False,0.000055,/images/a9/DD/7h/Qma9DD7hZb2k8EvGTiHUjnZw4DCe3...,None
2,2,1622,2022-01-20 07:19:00.520000+01:00,2022-04-06 10:00:28.250830+00:00,19392,1,0x60e4d786628fea6478f785a6d7e704777c86a7c6,1,None,None,...,0x9056d15c49b19df52ffad1e6c11627f035c0c960,MutantApeYachtClub,NaN,NaN,NaN,69.914110,False,0.000379,/images/ac/e2/4p/Qmace24ptkbYGAiQJVszkvfdHi2Zw...,None
3,3,1630,2022-01-20 07:19:12.691000+01:00,2022-04-07 10:00:39.473097+00:00,9818,1,0x60e4d786628fea6478f785a6d7e704777c86a7c6,1,None,None,...,0x9056d15c49b19df52ffad1e6c11627f035c0c960,MutantApeYachtClub,NaN,NaN,NaN,161.974880,False,0.000408,/images/cE/5V/Au/QmcE5VAuDyP3nr7fM6xufmgH9GPot...,None
4,4,1635,2022-01-20 07:19:18.751000+01:00,2022-04-07 10:00:39.424836+00:00,6821,1,0x60e4d786628fea6478f785a6d7e704777c86a7c6,1,None,None,...,0x9056d15c49b19df52ffad1e6c11627f035c0c960,MutantApeYachtClub,NaN,NaN,NaN,101.166500,False,0.000099,/images/bi/5f/pj/Qmbi5fpjvDfXmfZwh6PNaM6ndx3Ue...,None

# Describe the data

In [9]:
event_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229256 entries, 0 to 229255
Data columns (total 35 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   index                 229256 non-null  int64
 1   id                    229256 non-null  int64
 2   createdAt             229256 non-null  object
 3   updatedAt             229256 non-null  object
 4   externalId            44376 non-null   object
 5   tokenId               229256 non-null  int64
 6   eventType             229256 non-null  object
 7   date                  229256 non-null  object
 8   dataFeed              229256 non-null  object
 9   auctionType           35662 non-null   object
 10  currency              44376 non-null   object
 11  usdPrice              66552 non-null   float64
 12  endingPrice           35662 non-null   object
 13  startingPrice         35662 non-null   object
 14  totalPrice            66547 non-null   object
 15  approvedAccount       0 non-null       object
 16  bidAmount             0 non-null       object
 17  duration              35463 non-null   float64
 18  fromAccount           229256 non-null  object
 19  quantity              229256 non-null  float64
 20  seller                102209 non-null  object
 21  toAccount             193594 non-null  object
 22  winnerAccount         66547 non-null   object
 23  transaction           193594 non-null  object
 24  ownerFee              102209 non-null  float64
 25  protocolFee           102209 non-null  float64
 26  paymentTokenId        102195 non-null  float64
 27  paymentTokenUSDPrice  102195 non-null  float64
 28  paymentTokenETHPrice  102195 non-null  float64
 29  logIndex              193594 non-null  float64
 30  countRelated          229256 non-null  int64
 31  saleProtocol          65588 non-null   object
 32  batchTokenIndex       185237 non-null  float64
 33  saleEventIndex        65164 non-null   float64
 34  internalType          22764 non-null   object
dtypes: float64(11), int64(4), object(20)
memory usage: 61.2+ MB

In [10]:
payment_token_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       241 non-null    int64
 1   id          241 non-null    int64
 2   createdAt   241 non-null    object
 3   updatedAt   241 non-null    object
 4   symbol      241 non-null    object
 5   address     241 non-null    object
 6   imageUrl    51 non-null     object
 7   name        241 non-null    object
 8   externalId  51 non-null     float64
 9   decimals    241 non-null    int64
dtypes: float64(1), int64(3), object(6)
memory usage: 19.0+ KB

In [11]:
token_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29425 entries, 0 to 29424
Data columns (total 36 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   index                  29425 non-null  int64
 1   id                     29425 non-null  int64
 2   createdAt              29425 non-null  object
 3   updatedAt              29425 non-null  object
 4   externalId             29425 non-null  int64
 5   collectionId           29425 non-null  int64
 6   contractAddress        29425 non-null  object
 7   contractId             29425 non-null  int64
 8   name                   0 non-null      object
 9   description            0 non-null      object
 10  unlockableContent      0 non-null      object
 11  isEditableMetadata     29425 non-null  bool
 12  quantity               29425 non-null  int64
 13  previewUrl             23470 non-null  object
 14  animationUrl           0 non-null      object
 15  fileType               26 non-null     object
 16  url                    29413 non-null  object
 17  storageType            29425 non-null  object
 18  syncedAt               29363 non-null  object
 19  mintedAt               23402 non-null  object
 20  metaUrl                29414 non-null  object
 21  externalUrl            1043 non-null   object
 22  ordersSyncDate         0 non-null      object
 23  attributesSyncedAt     29425 non-null  object
 24  dataFeed               29425 non-null  object
 25  collectionName         29425 non-null  object
 26  creatorAccountAddress  29425 non-null  object
 27  creatorAccountName     29425 non-null  object
 28  dailyPriceGrowth       1 non-null      float64
 29  weeklyPriceGrowth      375 non-null    float64
 30  monthlyPriceGrowth     1577 non-null   float64
 31  totalPriceGrowth       20978 non-null  float64
 32  metadataError          29425 non-null  bool
 33  statRarityScore        29425 non-null  float64
 34  croppedPreviewURL      17857 non-null  object
 35  previewStatus          0 non-null      object
dtypes: bool(2), float64(5), int64(6), object(23)
memory usage: 7.7+ MB

#  Сделаем задачу

        Рассчитать капитализацию NFT-коллекций в долларах на дневной основе за всю историю сделок по коллекции.
                Пример получившихся данных:
                date        collectionId    collectionName  marketCapUSD
                2022-01-01  12345           SuperCollection 100000
                2022-01-01  54321           OFMD            2000
                2022-01-02  12345           SuperCollection 110000
                2022-01-02  54321           OFMD            2500
            
Подсказки:  1.  Для расчета цены сделки в долларах следует использовать следующее:
                event."totalPrice"::decimal * 10^(-1 * payment_token.decimals) * event."paymentTokenUSDPrice"

## Уберем лишние данные

In [12]:
event_df = event_df[['totalPrice', 'paymentTokenId', 'paymentTokenUSDPrice', 'createdAt', 'tokenId']]
payment_token_df = payment_token_df[['id', 'decimals']]
token_df = token_df[['id', 'collectionId']]
collection_df = collection_df[['id', 'name']]

## Схема решения задачи.
     1) event объединяем с payment_token по ключам 'paymentTokenId' у event и  'id' у payment_token

In [13]:
df = pd.merge(event_df, payment_token_df, how='left', left_on='paymentTokenId', right_on='id')
df.drop(['id'], axis=1, inplace=True)
df.head()

,totalPrice,paymentTokenId,paymentTokenUSDPrice,createdAt,tokenId,decimals
0,None,NaN,NaN,2022-03-12 00:32:47.344984+01:00,44675754,NaN
1,None,NaN,NaN,2022-03-12 00:34:18.444015+01:00,44675754,NaN
2,3490000000000000000,1.0,4174.586313,2022-02-12 07:51:30.402980+01:00,1611,18.0
3,None,NaN,NaN,2022-03-12 00:33:52.039177+01:00,1611,NaN
4,15000000000000000000,1.0,1653.551993,2022-08-16 23:13:41.094721+02:00,1611,18.0

     2) Получившийся df объединяем с token_df, в котором есть информация о collections

In [15]:
df = pd.merge(df, token_df, how='left', left_on='tokenId', right_on='id')
df.drop(['id'], axis=1, inplace=True)
df.head()

,totalPrice,paymentTokenId,paymentTokenUSDPrice,createdAt,tokenId,decimals,collectionId
0,None,NaN,NaN,2022-03-12 00:32:47.344984+01:00,44675754,NaN,1
1,None,NaN,NaN,2022-03-12 00:34:18.444015+01:00,44675754,NaN,1
2,3490000000000000000,1.0,4174.586313,2022-02-12 07:51:30.402980+01:00,1611,18.0,1
3,None,NaN,NaN,2022-03-12 00:33:52.039177+01:00,1611,NaN,1
4,15000000000000000000,1.0,1653.551993,2022-08-16 23:13:41.094721+02:00,1611,18.0,1

    3) Теперь можно объединить дата фрейм с collections по collectinosid

In [16]:
df = pd.merge(df, collection_df, how='left', left_on='collectionId', right_on='id')
df.drop(['id'], axis=1, inplace=True)
df.head()

,totalPrice,paymentTokenId,paymentTokenUSDPrice,createdAt,tokenId,decimals,collectionId,name
0,None,NaN,NaN,2022-03-12 00:32:47.344984+01:00,44675754,NaN,1,MutantApeYachtClub
1,None,NaN,NaN,2022-03-12 00:34:18.444015+01:00,44675754,NaN,1,MutantApeYachtClub
2,3490000000000000000,1.0,4174.586313,2022-02-12 07:51:30.402980+01:00,1611,18.0,1,MutantApeYachtClub
3,None,NaN,NaN,2022-03-12 00:33:52.039177+01:00,1611,NaN,1,MutantApeYachtClub
4,15000000000000000000,1.0,1653.551993,2022-08-16 23:13:41.094721+02:00,1611,18.0,1,MutantApeYachtClub

    4) Вся информация, нужная для решения задачи собрана. Осталось посчитать marketCapUSD

In [17]:
df['marketCapUSD'] = df['totalPrice'].astype(float) *\
                                pow(10, (df['decimals'] * (-1)))\
                                * df['paymentTokenUSDPrice']
df.head()

,totalPrice,paymentTokenId,paymentTokenUSDPrice,createdAt,tokenId,decimals,collectionId,name,marketCapUSD
0,None,NaN,NaN,2022-03-12 00:32:47.344984+01:00,44675754,NaN,1,MutantApeYachtClub,NaN
1,None,NaN,NaN,2022-03-12 00:34:18.444015+01:00,44675754,NaN,1,MutantApeYachtClub,NaN
2,3490000000000000000,1.0,4174.586313,2022-02-12 07:51:30.402980+01:00,1611,18.0,1,MutantApeYachtClub,14569.306231
3,None,NaN,NaN,2022-03-12 00:33:52.039177+01:00,1611,NaN,1,MutantApeYachtClub,NaN
4,15000000000000000000,1.0,1653.551993,2022-08-16 23:13:41.094721+02:00,1611,18.0,1,MutantApeYachtClub,24803.279898

    5)Удаляем ненужные столбцы

In [18]:
df = df.drop(['totalPrice', 'paymentTokenId', 'paymentTokenUSDPrice',
           'tokenId', 'decimals'], axis=1)
df.head()

,createdAt,collectionId,name,marketCapUSD
0,2022-03-12 00:32:47.344984+01:00,1,MutantApeYachtClub,NaN
1,2022-03-12 00:34:18.444015+01:00,1,MutantApeYachtClub,NaN
2,2022-02-12 07:51:30.402980+01:00,1,MutantApeYachtClub,14569.306231
3,2022-03-12 00:33:52.039177+01:00,1,MutantApeYachtClub,NaN
4,2022-08-16 23:13:41.094721+02:00,1,MutantApeYachtClub,24803.279898

    6) Группируем информацию по дням

In [19]:
df['createdAt'] = pd.to_datetime(df['createdAt'], utc=True)
df['date'] = df['createdAt'].dt.date
df.drop(columns='createdAt', inplace=True)
df = df.groupby(['date', 'collectionId', 'name']).sum()
df = df.reset_index()
df.head()

         date  collectionId                name  marketCapUSD
0  2022-01-21             1  MutantApeYachtClub      0.000000
1  2022-01-21           504   BoredApeYachtClub      0.000000
2  2022-01-22             1  MutantApeYachtClub      0.000000
3  2022-01-24           504   BoredApeYachtClub      0.000000
4  2022-01-26             1  MutantApeYachtClub  64398.835049

# Запись результатов задачи

In [20]:
engine_to_bd = create_engine('postgresql://etl:etl_contest@localhost:54322/checknft')

In [22]:
df.to_sql('nft_collections_per_day', engine_to_bd, if_exists='replace')

391

# Check

In [23]:
pd.read_sql('select * from nft_collections_per_day LIMIT 5', engine_to_bd)

   index        date  collectionId                name  marketCapUSD
0      0  2022-01-21             1  MutantApeYachtClub      0.000000
1      1  2022-01-21           504   BoredApeYachtClub      0.000000
2      2  2022-01-22             1  MutantApeYachtClub      0.000000
3      3  2022-01-24           504   BoredApeYachtClub      0.000000
4      4  2022-01-26             1  MutantApeYachtClub  64398.835049